body {
  --bs-body-font-size: 16px;
}

#background {
  z-index: -1;
  /* background-image: url(/public/photos/bg.png); */
  background-color: #ffffff;
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-size: cover;
  background-position: center;
}

.app {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 100vh;
  width: 100vw;
  background-color: "red";
}

.card {
  background-color: rgb(201, 255, 201) !important;
  border-radius: 1rem;
  border-color: green;
  padding: 1rem;
  margin: 1rem;
  box-shadow: 0 0 10px 0 rgba(1, 40, 11, 0.1);

}

h1 {
  font-size: 2.2rem !important;
  color: hsl(151, 95%, 8%);
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}

h2 {
  font-size: 1.5rem !important;
  color: hsl(151, 95%, 8%);
}

.header {
  padding: 2rem;
  text-align: justify;
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  padding: 1rem;
  text-align: center;
}

.mobileForm {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
}

.buttonRow {
  margin-top: 2rem !important;
}

.phoneInput {
  border-radius: 1rem;
  border-color: green;
}

.special-label{
  visibility: hidden;
  background-color: rgb(171, 248, 171) !important;
  border-radius: 0.1rem;
}

.btn-success {
  --bs-btn-border-color: green !important;
  --bs-btn-border-width: 3px !important;
  --bs-btn-bg: green !important;
  --bs-btn-line-height: 1.5 !important;
}