body {
  /* background-image: url(/public/photos/bg.png); */
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
}
.form-control {
  margin-bottom: 1rem;
}

.phone {
  margin: 25px;
  height: 200px;
  outline: dashed 1px black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.PhoneInputInput {
  margin-right: 1rem;
}

input {
  border-color: green;
  border-radius: 0.5rem;
  border-width: 0.4rem;
}
